body{

    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.urna{

    background-color: rgba(190, 193, 196, 0.89);
    padding: 30px;
    display: flex;
}

.tela{   

    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8,#C1C1C1);
}

.teclado{

    background-color: #403A3A;
    margin-left: 30px;

}
.teclado-linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.teclado-botao{
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 3px 3px 0px #555;
    cursor: pointer;
    
}
.btn-branco{
    background-color: white;
    color: #000;
    font-size: 15px;

}
.btn-corrige{
    background-color: #F09046;
    color: #000;
    font-size: 15px;

}
.btn-confirma{
    background-color: #48C079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;

}
